.icon-contact img {
    height: 1em;
    width: 1rem;
    margin-right: 0.5rem;
    vertical-align: middle;
}

#contact{
    display: flex;
}

#contact form {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
}

footer .footer-icons{
    display: flex;
    align-items: flex-end;
}

footer .container-icon {
    height: 20em;
    width: 20em;
    background-color: white;
    position: relative;
    margin: 5em;
    border-radius: 50%;
}

footer .container-icon::before {
    position: absolute;
    content: "";
    height: 120%;
    width: 120%;
    background-image: -webkit-linear-gradient(to right, #B16CEA, #FF5E69, #FF8A56, #FFA84B);
    background-image: linear-gradient(to right, #B16CEA, #FF5E69, #FF8A56, #FFA84B);
    left: -10;
    top: -10;
    z-index: -1; /* Colocar detrás del contenido del elemento principal */
    border-radius: 50%;
}

footer .icon-footer {
    height: 1em;
    width: 1rem;
}

